<!-- style="font-size: 0.876rem" -->

<div 
style="font-size: 0.8rem"
>
  <h4 class="font-weight-bold mb-2">RECOMMENDATIONS</h4>
  <div class="mb-2">
    <h6 class="m-0 p-0">BMI -</h6>
    <p><%= bmiRecommendation %></p>
  </div>
  <div class="mb-2">
    <h6 class="m-0 p-0">Fat -</h6>
    <p><%= fatRecommendation %></p>
  </div>
  <div class="mb-2">
    <h6 class="m-0 p-0" >Muscle -</h6 >
    <p><%= muscleRecommendation %></p>
  </div>
  <div class="mb-2">
    <h6 class="m-0 p-0">Hydration -</h6>
    <p><%= hydrationRecommendation %></p>
  </div>
  <div class="mb-2">
    <h6 class="m-0 p-0">Bone mass -</h6>
    <p><%= bonemassRecommendation %></p>
  </div>
  <div class="mb-2">
    <h6 class="m-0 p-0">Metabolic Range -</h6>
    <p><%= metabloicRangeRecommendation %></p>
  </div>
  <div class="mb-2">
    <h6 class="m-0 p-0">Visceral Fat -</h6>
    <p><%= visceralFatRecommendation %></p>
  </div>
  <div class="mb-2">
    <h6 class="m-0 p-0">Metabolic Age -</h6>
    <p><%= metabolicAgeRecommendation %></p>
  </div>
  <div class="mb-2">
    <h6 class="m-0 p-0">Muscle Quality Score -</h6>
    <p><%= muscleQualityScoreRecommendation %></p>
  </div>
  <div class="mb-2">
    <h6 class="m-0 p-0">Systolic -</h6>
    <p><%= systolicRecommendation %></p>
  </div>
  <div class="mb-2">
    <h6 class="m-0 p-0">Diastolic -</h6>
    <p><%= diastolicRecommendation %></p>
  </div>
  <div class="mb-2">
    <h6 class="m-0 p-0">Pulse -</h6>
    <p><%= pulseRecommendation %></p>
  </div>
</div>
