<div>
  <div class="d-flex flex-row justify-content-between">
    <div class="">
      <p class="text-left">Name: <%= patientName %></p>
    </div>
    <div class="text-left"><P>Age: <%= patientAge %></P></div>
  </div>

  <div class="d-flex flex-row justify-content-between mb-2">
    <div>
      <p class="text-left me-4">Gender: <%= patientGender %></p>
    </div>
    <div class=""><P>Labour ID: <%= patientLabourId %></P></div>
  </div>

  <div>
    <table style="width: 100%">
      <tr class="text-center">
        <th>SI No</th>
        <th style="width: 70%; padding-left: 1rem;">Name of Test conducted</th>
        <th class="text-center">Page No.</th>
      </tr>
      <tr>
        <td>1</td>
        <td class="l-td" >Doctors Consultation - Detailed Physical Test</td>
        <td><%= doctorConsultation %></td>
      </tr>
      <tr>
        <td>2</td>
        <td class="l-td">Lung Function Test</td>
        <td><%= lungFunction %></td>
      </tr>
      <tr>
        <td>3</td>
        <td class="l-td">Audiometry Screening Test</td>
        <td><%= audiomerty %></td>
      </tr>

      <tr>
        <td>4</td>
        <td class="l-td">Vision Screening Test</td>
        <td><%= vision %></td>
      </tr>
      <tr>
        <td>5</td>
        <td class="l-td">CBC Test</td>
        <td rowspan="21"><%= remain %></td>
      </tr>
      <tr>
        <td>6</td>
        <td class="l-td">ESR</td>
      </tr>
      <tr>
        <td>7</td>
        <td class="l-td">Blood Grouping</td>
      </tr>
      <tr>
        <td>8</td>
        <td class="l-td">Renal Function Test</td>
      </tr>
      <tr>
        <td>9</td>
        <td class="l-td">Lipid Profile</td>
      </tr>
      <tr>
        <td>19</td>
        <td class="l-td">Liver Function Test</td>
      </tr>
      <tr>
        <td>11</td>
        <td class="l-td">T3, T4, TSH</td>
      </tr>
      <tr>
        <td>12</td>
        <td class="l-td">Serum Magnesium</td>
      </tr>
      <tr>
        <td>13</td>
        <td class="l-td">CRP Quantitative</td>
      </tr>
     
      <tr>
        <td>14</td>
        <td class="l-td">Serum Iron</td>
      </tr>
      <tr>
        <td>15</td>
        <td class="l-td">Serum Ferritin</td>
      </tr>
      <tr>
        <td>16</td>
        <td class="l-td">HBA1C</td>
      </tr>
      <tr>
        <td rowspan="4">17</td>
        <td class="l-td">HIV</td>
      </tr>
      <tr>
        <td class="l-td">Hepatitis B</td>
      </tr>
      <tr>
        <td class="l-td">Hepatitis C</td>
      </tr>
      <tr>
        <td class="l-td">VDRL</td>
      </tr>
      <tr>
        <td>18</td>
        <td class="l-td">Malaria Parasite</td>
      </tr>
      <tr>
        <td>19</td>
        <td class="l-td">Urine Routine</td>
      </tr>
    </table>
  </div>
</div>
