<!-- Header -->
<div class="w-100">
  <h3 class="text-right mr-5"><%= date %></h3>
</div>

<div
  class="my-2"
  style="border-top: 1px solid black; border-bottom: 1px solid black"
>
  <h5 class="text-center m-0 p-0 py-1">Basic Health Checkup Report</h5>
</div>

<div>
  <table class="n-b w-100">
    <tr class="n-b">
      <td class="n-b t-c">
        <div class="d-flex flex-row">
          <p class="font-weight-bold mr-3">Name</p>
          <p><%= patientName %></p>
        </div>
      </td>
      <td class="n-b px-3">
        <div class="d-flex flex-row">
          <p class="font-weight-bold mr-3">Phone No</p>
          <p><%= patientPhoneNo %></p>
        </div>
      </td>
      <td class="n-b">
        <div class="d-flex flex-row">
          <p class="font-weight-bold mr-3">Height</p>
          <p><%= height %> Cms</p>
        </div>
      </td>
    </tr>

    <tr class="n-b">
      <td class="n-b t-c">
        <div class="d-flex flex-row">
          <p class="font-weight-bold mr-3">Gender</p>
          <p><%= patientGender %></p>
        </div>
      </td>
      <td class="n-b px-3">
        <div class="d-flex flex-row">
          <p class="font-weight-bold mr-3">Labour ID</p>
          <p><%= patientLabourId %></p>
        </div>
      </td>
      <td class="n-b">
        <div class="d-flex flex-row">
          <p class="font-weight-bold mr-3">weight</p>
          <p><%= weight %> Cms</p>
        </div>
      </td>
    </tr>

    <tr class="n-b">
      <td class="n-b t-c">
        <div class="d-flex flex-row">
          <p class="font-weight-bold mr-3">Location</p>
          <p><%= location %></p>
        </div>
      </td>
      <td class="n-b px-3">
        <div class="d-flex flex-row">
          <p class="font-weight-bold mr-3">MRN no</p>
          <p><%= patientUhid %></p>
        </div>
      </td>
      <td class="n-b">
        <div class="d-flex flex-row">
          <p class="font-weight-bold mr-3">Age</p>
          <p><%= patientAge %> </p>
        </div>
      </td>
    </tr>
  </table>
</div>

<!-- Setehoscopy -->
<% if (stethoscopyResults.length>0) { %>

<div class="my-3">
  <h4>Stethoscopy</h4>
  <div>
    <% stethoscopyResults.forEach(function(item) { %>
    <p class="ml-4"><%= item %></p>
    <% }); %>
  </div>
</div>
<% } else { %>
  <div class="my-3">
    <h4>Stethoscopy</h4>
    <div>
     Sample not given.
    </div>
  </div>
  <% } %>


<% if (dermascopyImage) { %>
  <div class="my-3">
    <div>
    <h4>Dermascopy</h4>
    <div>
      <table class="n-b w-100">
        <tr class="n-b">
          <td class="n-b d-flex flex-row align-center jsutify-content-start">
            <img src="<%= dermascopyImage %>"  height="250px" width="250" style="margin-right: 2px"/>
          </td>
          <td class="n-b w-100" style="vertical-align: top !important;" colspan="2">
            <% dermascopyResult.forEach(function(item,i) { %>
              <p class="ml-4 text-left"><%= i+1 %>. <%= item %> </p>
              <% }); %>
          </td>     
        </tr>
      </table>
    </div>
    </div>
  </div>   
<% } else { %> 
  <div class="my-3">
    <h4>Dermascopy</h4>
    <div>
     Sample not given.
    </div>
  </div>
  <% } %>

  <% if (otoScopeImage1) { %>
    <div class="my-3">
      <div>
      <h4>Otoscopy</h4>
      <div>
        <table class="n-b w-100">
          <tr class="n-b">
            <td class="n-b">
              <img src="<%= otoScopeImage1 %>"  height="250px" width="250" style="margin-right: 2px"/>
            </td>
            <% if (otoScopeImage2) { %>
            <td class="n-b">
              <img src="<%= otoScopeImage2 %>"  height="250px" width="250" style="margin-right: 2px"/>
            </td>
            <% } %>
            <td class="n-b w-100" style="vertical-align: top !important;" colspan="2">
              <% otoScopeResult.forEach(function(item,i) { %>
                <p class="ml-4 text-left"><%= i+1 %>. <%= item %> </p>
                <% }); %>
            </td>     
          </tr>
        </table>
      </div>
      </div>
    </div>   
  <% } else { %> 
    <div class="my-3">
      <h4>Otoscopy</h4>
      <div>
       Sample not given.
      </div>
    </div>
    <% } %>