<div style="padding-top: 300px;">
<table class="w-100 t-l">
  <tr>
    <td class="px-1" colspan="8">
      <!-- <div height="100px" style="padding-top: 5px; padding-bottom: 5px;"/> -->
    </td>
  </tr>
  <tr>
    <td class="py-2 f-b px-1">Labour ID</td>
    <td class="py-2" colspan="1"><%= patientLabourId %></td>
    <td class="py-2 f-b px-1" colspan="4">Screening Date</td>
    <td class="py-2" colspan="3"><%= screenDate %></td>
  </tr>
  <tr>
    <td class="py-2 f-b px-1">Patient ID</td>
    <td class="py-2" colspan="1"><%= patientUhid %></td>
    <td class="py-2 f-b" colspan="7">Screening Location</td>
  </tr>
  <tr>
    <td class="py-2 f-b px-1">Name</td>
    <td class="py-2"><%= patientName %></td>
    <td class="py-2" rowspan="4" colspan="5"><%= screeingAddress %></td>
  </tr>
  <tr>
    <td class="py-2 f-b px-1">Age</td>
    <td class="py-2"><%= patientAge %></td>
  </tr>
  <tr>
    <td class="py-2 f-b px-1">Gender</td>
    <td class="py-2"><%= patientGender %></td>
  </tr>
  <tr>
    <td class="py-2 f-b px-1">Contact</td>
    <td class="py-2"><%= patientPhoneNo %></td>
  </tr>
  <tr>
    <td class="py-2 f-b px-1">Provisional Diagnosis</td>
    <td colspan="9"><%= provisionalDiagnosis %></td>
  </tr>
  <tr>
    <td class="py-2 f-b px-1">Is Hearing Screening Done?</td>
    <td colspan="9"><%= isHearingScreeningDone %></td>
  </tr>
  <tr>
    <td class="py-2 f-b px-1">Hearing Screening</td>
    <td class="f-b px-1">500Hz</td>
    <td class="f-b px-1" colspan="2">1000Hz</td>
    <td class="f-b px-1" colspan="2">2000Hz</td>
    <td class="f-b px-1">4000Hz</td>
  </tr>
  <tr>
    <td class="py-2 f-b">Left Ear</td>
    <td class="f-b"><%= leftEar["500Hz"] %></td>
    <td class="f-b" colspan="2"><%= leftEar["1000Hz"] %></td>
    <td class="f-b" colspan="2"><%= leftEar["2000Hz"] %></td>
    <td class="f-b"><%= leftEar["4000Hz"] %></td>
  </tr>
  <tr>
    <td class="py-2 f-b">Right Ear</td>
    <td class="f-b"><%= leftEar["500Hz"] %></td>
    <td class="f-b" colspan="2"><%= rightEar["1000Hz"] %></td>
    <td class="f-b" colspan="2"><%= rightEar["2000Hz"] %></td>
    <td class="f-b"><%= rightEar["4000Hz"] %></td>
  </tr>
  <tr>
    <td class="py-2 f-b" rowspan="5">Recommendation</td>
    <td class="py-2 t-l">1.Pure tone Audiometry(PTA)</td>
    <td></td>
    <td colspan="4">Comments</td>
  </tr>
  <tr>
    <td class="py-2 t-l">2. Impedence Audiometry</td>
    <td></td>
    <td rowspan="4" colspan="5"></td>
  </tr>
  <tr>
    <td class="py-2 t-l">3. Hearing Aid Trail(HAT)</td>
    <td></td>
  </tr>
  <tr>
    <td class="py-2 t-l">4. Other</td>
    <td></td>
  </tr>
  <tr>
    <td class="py-2 t-l">5. Ent Consultation</td>
    <td></td>
  </tr>
</table>
</div>