<!-- style="font-size: 0.876rem" -->

<div 
style="font-size: 0.9rem"
>
  <h3 class="font-weight-bold mb-2">RECOMMENDATIONS</h3>
  <div class="mb-3">
    <h6>BMI -</h6>
    <p><%= bmiRecommendation %></p>
  </div>
  <div class="mb-3">
    <h6>Fat -</h6>
    <p><%= fatRecommendation %></p>
  </div>
  <div class="mb-3">
    <h6>Muscle -</h6>
    <p><%= muslceRecommendation %></p>
  </div>
  <div class="mb-3">
    <h6>Hydration -</h6>
    <p><%= hydrationRecommendation %></p>
  </div>
  <div class="mb-3">
    <h6>Bone mass -</h6>
    <p><%= bonemassRecommendation %></p>
  </div>
  <div class="mb-3">
    <h6>Metabolic Range -</h6>
    <p><%= metabloicRangeRecommendation %></p>
  </div>
  <div class="mb-3">
    <h6>Visceral Fat -</h6>
    <p><%= visceralFatRecommendation %></p>
  </div>
  <div class="mb-3">
    <h6>Metabolic Age -</h6>
    <p><%= metabolicAgeRecommendation %></p>
  </div>
  <div class="mb-3">
    <h6>Muscle Quality Score -</h6>
    <p><%= muscleQualityScoreRecommendation %></p>
  </div>
  <div class="mb-3">
    <h6>Systolic -</h6>
    <p><%= systolicRecommendation %></p>
  </div>
  <div class="mb-3">
    <h6>Diastolic -</h6>
    <p><%= diastolicRecommendation %></p>
  </div>
  <div class="mb-3">
    <h6>Pulse -</h6>
    <p><%= pulseRecommendation %></p>
  </div>
</div>
