<div style="font-size: 0.875rem">
  <!-- Header -->
  <div class="w-100">
    <h3 class="text-right mr-5"><%= date %></h3>
  </div>

  <div
    class="my-2"
    style="border-top: 1px solid black; border-bottom: 1px solid black"
  >
    <h5 class="text-center m-0 p-0 py-1">Basic Health Checkup Report</h5>
  </div>

  <div>
    <table class="n-b w-100">
      <tr class="n-b">
        <td class="n-b t-c">
          <div class="d-flex flex-row">
            <p class="font-weight-bold mr-3">Name</p>
            <p><%= patientName %></p>
          </div>
        </td>
        <td class="n-b px-3">
          <div class="d-flex flex-row">
            <p class="font-weight-bold mr-3">Phone No</p>
            <p><%= patientPhoneNo %></p>
          </div>
        </td>
        <td class="n-b">
          <div class="d-flex flex-row">
            <p class="font-weight-bold mr-3">Height</p>
            <p><%= height %> Cm</p>
          </div>
        </td>
      </tr>

      <tr class="n-b">
        <td class="n-b t-c">
          <div class="d-flex flex-row">
            <p class="font-weight-bold mr-3">Gender</p>
            <p><%= patientGender %></p>
          </div>
        </td>
        <td class="n-b px-3">
          <div class="d-flex flex-row">
            <p class="font-weight-bold mr-3">Labor Id</p>
            <p><%= patientLabourId %></p>
          </div>
        </td>
        <td class="n-b">
          <div class="d-flex flex-row">
            <p class="font-weight-bold mr-3">Weight</p>
            <p><%= weight %> Kg(s)</p>
          </div>
        </td>
      </tr>

      <tr class="n-b">
        <td class="n-b t-c">
          <div class="d-flex flex-row">
            <p class="font-weight-bold mr-3">Location</p>
            <p><%= location %></p>
          </div>
        </td>
        <td class="n-b px-3">
          <div class="d-flex flex-row">
            <p class="font-weight-bold mr-3">MRN no</p>
            <p><%= mrnNo %></p>
          </div>
        </td>
        <td class="n-b">
          <div class="d-flex flex-row">
            <p class="font-weight-bold mr-3">Age</p>
            <p><%= patientAge %> </p>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <!-- BODY STATWS -->
  <h6 style="color: skyblue; margin-bottom: -0.7rem;" class="mt-4">BODY STATS</h6>

  <table style="width: 100%; border: none">
    <!-- BMI -->
    <tr>
      <td class="n-b" colspan="3"></td>
      <td class="n-b">&#60; 18</td>
      <td class="n-b" colspan="2">18-27</td>
      <td class="n-b">27-30</td>
      <td class="n-b" colspan="2">&gt; 30</td>
    </tr>
    <tr>
      <td
        class="t-c n-b font-weight-bold"
        style="width: 22%; background-color: #f2f2f2"
      >
        BMI
      </td>
      <td class="t-c n-b" style="width: 15%; background-color: #f2f2f2">
        <%= bmi %> Kg/m2
      </td>
      <td class="t-c n-b" style="width: 15%; background-color: #f2f2f2">
        <%= bmiStatus %>
      </td>
      <td class="t-c n-b" style="background-color: red; color: white">
        Underweight
      </td>
      <td
        class="t-c n-b"
        colspan="2"
        style="background-color: yellowgreen; color: white"
      >
        Normal
      </td>
      <td class="t-c n-b" style="background-color: gold; color: white">
        Overweight
      </td>
      <td
        class="t-c n-b"
        colspan="2"
        style="background-color: orangered; color: white"
      >
        Obese
      </td>
    </tr>
    <!-- Hydration  -->
    <tr class="n-b">
      <td class="n-b" colspan="3"></td>
      <td style="background-color: #f2f2f2" class="n-b">&#60; 50%</td>
      <td class="n-b" colspan="3">50%-65%</td>
      <td class="n-b" colspan="2">>65%</td>
    </tr>
    <tr>
      <td
        class="t-c n-b font-weight-bold"
        style="width: 22%; background-color: #f2f2f2"
      >
        Hydration
      </td>
      <td class="t-c n-b" style="width: 15%; background-color: #f2f2f2">
        <%= hydration %> %
      </td>
      <td class="t-c n-b" style="width: 15%; background-color: #f2f2f2">
        <%= hydrationStatus %>
      </td>
      <td class="t-c n-b" style="background-color: red; color: white">Low</td>
      <td
        class="t-c n-b"
        colspan="3"
        style="background-color: yellowgreen; color: white"
      >
        Normal
      </td>
      <td
        colspan="2"
        class="t-c n-b"
        style="background-color: steelblue; color: white"
      >
        Good
      </td>
    </tr>
    <!-- Fat  -->
    <tr class="n-b">
      <td class="n-b" colspan="3"></td>
      <td style="background-color: #f2f2f2" class="n-b">&#60; 12%</td>
      <td class="n-b" colspan="2">12-20%</td>
      <td class="n-b">20-26%</td>
      <td class="n-b">26-29%</td>
      <td class="n-b">>29%</td>
    </tr>
    <tr>
      <td
        class="t-c n-b font-weight-bold"
        style="width: 22%; background-color: #f2f2f2"
      >
        Fat
      </td>
      <td class="t-c n-b" style="width: 15%; background-color: #f2f2f2">
        <%= fat %> %
      </td>
      <td class="t-c n-b" style="width: 15%; background-color: #f2f2f2">
        <%= fatStatus %>
      </td>
      <td class="t-c n-b" style="background-color: steelblue; color: white">
        Athletic
      </td>
      <td
        class="t-c n-b"
        colspan="2"
        style="background-color: yellowgreen; color: white"
      >
        Good
      </td>
      <td class="t-c n-b" style="background-color: gold; color: white">
        Acceptable
      </td>
      <td class="t-c n-b" style="background-color: tomato; color: white">
        Overweight
      </td>
      <td class="t-c n-b" style="background-color: red; color: white">Obese</td>
    </tr>
    <!-- Bone Mass -->
    <tr class="n-b">
      <td class="n-b" colspan="3"></td>
      <td style="background-color: #f2f2f2" class="n-b">&#60; 3.4%</td>
      <td class="n-b" colspan="3">3.4%-5%</td>
      <td class="n-b" colspan="2">>5%</td>
    </tr>
    <tr>
      <td
        class="t-c n-b font-weight-bold"
        style="width: 22%; background-color: #f2f2f2"
      >
        Bone Mass
      </td>
      <td class="t-c n-b" style="width: 15%; background-color: #f2f2f2">
        <%= boneMass %> %
      </td>
      <td class="t-c n-b" style="width: 15%; background-color: #f2f2f2">
        <%= boneStatus %>
      </td>
      <td class="t-c n-b" style="background-color: red; color: white">Low</td>
      <td
        class="t-c n-b"
        colspan="3"
        style="background-color: yellowgreen; color: white"
      >
        Normal
      </td>
      <td
        colspan="2"
        class="t-c n-b"
        style="background-color: steelblue; color: white"
      >
        Good
      </td>
    </tr>
    <!-- Musle -->
    <tr class="n-b">
      <td class="n-b" colspan="3"></td>
      <td style="background-color: #f2f2f2" class="n-b">&#60; 43.1%</td>
      <td class="n-b" colspan="3">43.1-56.5%</td>
      <td class="n-b" colspan="2">>56.5%</td>
    </tr>
    <tr>
      <td
        class="t-c n-b font-weight-bold"
        style="width: 22%; background-color: #f2f2f2"
      >
        Muscle
      </td>
      <td class="t-c n-b" style="width: 15%; background-color: #f2f2f2">
        <%= muscle %>
      </td>
      <td class="t-c n-b" style="width: 15%; background-color: #f2f2f2">
        <%= muscleStatus %>
      </td>
      <td class="t-c n-b" style="background-color: red; color: white">Low</td>
      <td
        class="t-c n-b"
        colspan="3"
        style="background-color: yellowgreen; color: white"
      >
        Normal
      </td>
      <td
        colspan="2"
        class="t-c n-b"
        style="background-color: steelblue; color: white"
      >
        Good
      </td>
    </tr>
    <!-- Visceral Fat -->
    <tr class="n-b">
      <td class="n-b" colspan="3"></td>
      <td class="n-b" colspan="3">1-12.5%</td>
      <td class="n-b" colspan="3">13-59%</td>
    </tr>
    <tr>
      <td
        class="t-c n-b font-weight-bold"
        style="width: 22%; background-color: #f2f2f2"
      >
        Visceral Fat
      </td>
      <td class="t-c n-b" style="width: 15%; background-color: #f2f2f2">
        <%= visceralFat %>
      </td>
      <td class="t-c n-b" style="width: 15%; background-color: #f2f2f2">
        <%= visceralFatStatu %>
      </td>
      <td
        class="t-c n-b"
        colspan="3"
        style="background-color: yellowgreen; color: white"
      >
        Good
      </td>
      <td
        class="t-c n-b"
        colspan="3"
        style="background-color: red; color: white"
      >
        High
      </td>
    </tr>
    <!-- Metabolic Age -->
    <tr class="n-b">
      <td class="n-b" colspan="3"></td>
      <td class="n-b" colspan="3"><20</td>
      <td class="n-b" colspan="3">>20</td>
    </tr>
    <tr>
      <td
        class="t-c n-b font-weight-bold"
        style="width: 22%; background-color: #f2f2f2"
      >
        Metabolic Age
      </td>
      <td class="t-c n-b" style="width: 15%; background-color: #f2f2f2">
        <%= metabolicAge %>
      </td>
      <td class="t-c n-b" style="width: 15%; background-color: #f2f2f2">
        <%= metablicStatus %>
      </td>
      <td
        class="t-c n-b"
        colspan="3"
        style="background-color: yellowgreen; color: white"
      >
        Good
      </td>
      <td
        class="t-c n-b"
        colspan="3"
        style="background-color: red; color: white"
      >
        High
      </td>
    </tr>
  </table>

  <!-- BLOOD PRESSURE -->
   <h6 style="color: skyblue; margin-bottom: -0.7rem;" class="mt-4">BLOOD PRESSURE</h6>
  <table class="w-100 n-b">
    <tr class="n-b">
      <td class="n-b" colspan="3"></td>
      <td style="background-color: #f2f2f2" class="n-b">&#60; 90</td>
      <td class="n-b" colspan="3">90-130</td>
      <td class="n-b" colspan="2">130-140</td>
      <td class="n-b">>140</td>
    </tr>
    <tr>
      <td
        class="t-c n-b font-weight-bold"
        style="width: 22%; background-color: #f2f2f2"
      >
        Systolic
      </td>
      <td class="t-c n-b" style="width: 15%; background-color: #f2f2f2">
        <%= systolic %> mmHg
      </td>
      <td class="t-c n-b" style="width: 15%; background-color: #f2f2f2">
        <%= systolicStatus %>
      </td>
      <td class="t-c n-b" style="background-color: red; color: white">Low</td>
      <td
        class="t-c n-b"
        colspan="3"
        style="background-color: yellowgreen; color: white"
      >
        Normal
      </td>
      <td
        colspan="2"
        class="t-c n-b"
        style="background-color: tomato; color: white"
      >
        Pre-Hyper
      </td>
      <td
        colspan="2"
        class="t-c n-b"
        style="background-color: red; color: white"
      >
        High
      </td>
    </tr>
    <tr class="n-b">
      <td class="n-b" colspan="3"></td>
      <td style="background-color: #f2f2f2" class="n-b">&#60; 60</td>
      <td class="n-b" colspan="3">60-90</td>
      <td class="n-b" colspan="2">90-100</td>
      <td class="n-b">>100</td>
    </tr>
    <tr>
      <td
        class="t-c n-b font-weight-bold"
        style="width: 22%; background-color: #f2f2f2"
      >
        Diastolic
      </td>
      <td class="t-c n-b" style="width: 15%; background-color: #f2f2f2">
        <%= diastolic %> mmHg
      </td>
      <td class="t-c n-b" style="width: 15%; background-color: #f2f2f2">
        <%= diastolicStatus %>
      </td>
      <td class="t-c n-b" style="background-color: red; color: white">Low</td>
      <td
        class="t-c n-b"
        colspan="3"
        style="background-color: yellowgreen; color: white"
      >
        Normal
      </td>
      <td
        colspan="2"
        class="t-c n-b"
        style="background-color: tomato; color: white"
      >
        Pre-Hyper
      </td>
      <td
        colspan="2"
        class="t-c n-b"
        style="background-color: red; color: white"
      >
        High
      </td>
    </tr>
  </table>
  <!-- TEMPERATURE -->
   <h6 style="color: skyblue; margin-bottom: -0.7rem;" class="mt-4">TEMPERATURE</h6>
  <table class="n-b w-100">
    <tr class="n-b">
      <td class="n-b" colspan="3"></td>
      <td class="n-b" colspan="3">93-99&#8457 (33-37&#8451;)</td>
      <td class="n-b" colspan="3">>99#8457 (37&#8451;)</td>
    </tr>
    <tr>
      <td
        class="t-c n-b font-weight-bold"
        style="width: 22%; background-color: #f2f2f2"
      >
        Temperature
      </td>
      <td class="t-c n-b" style="width: 15%; background-color: #f2f2f2">
        <%= temperature %>&deg F
      </td>
      <td class="t-c n-b" style="width: 15%; background-color: #f2f2f2">
        <%= temperatureStatus %>
      </td>
      <td
        class="t-c n-b"
        colspan="3"
        style="background-color: yellowgreen; color: white"
      >
        Normal
      </td>
      <td
        class="t-c n-b"
        colspan="3"
        style="background-color: red; color: white"
      >
        High
      </td>
    </tr>
  </table>
  <!-- PULSE -->
   <h6 style="color: skyblue; margin-bottom: -0.7rem;" class="mt-4">PULSE</h6>
    <table class="w-100 n-b">
<tr class="n-b">
      <td class="n-b" colspan="3"></td>
      <td style="background-color: #f2f2f2" class="n-b">&#60; 60</td>
      <td class="n-b" colspan="3">60-90</td>
      <td class="n-b" colspan="2">>90</td>
    </tr>
    <tr>
      <td
        class="t-c n-b font-weight-bold"
        style="width: 22%; background-color: #f2f2f2"
      >
        Pulse
      </td>
      <td class="t-c n-b" style="width: 15%; background-color: #f2f2f2">
        <%= pulse %> %
      </td>
      <td class="t-c n-b" style="width: 15%; background-color: #f2f2f2">
        <%= pulseStatus %>
      </td>
      <td class="t-c n-b" style="background-color: red; color: white">Low</td>
      <td
        class="t-c n-b"
        colspan="3"
        style="background-color: yellowgreen; color: white"
      >
        Normal
      </td>
      <td
        colspan="2"
        class="t-c n-b"
        style="background-color: red; color: white"
      >
        High
      </td>
    </tr>

    <tr class="n-b">
      <td class="n-b" colspan="3"></td>
      <td style="background-color: #f2f2f2" class="n-b">&#60; 90%</td>
      <td class="n-b" colspan="3">90-100%</td>
      <td class="n-b" colspan="2">>100%</td>
    </tr>
    <tr>
      <td
        class="t-c n-b font-weight-bold"
        style="width: 22%; background-color: #f2f2f2"
      >
        Oxygen Sat
      </td>
      <td class="t-c n-b" style="width: 15%; background-color: #f2f2f2">
        <%= oxygenSat %> %
      </td>
      <td class="t-c n-b" style="width: 15%; background-color: #f2f2f2">
        <%= oxygenSatStatus %>
      </td>
      <td class="t-c n-b" style="background-color: red; color: white">Low</td>
      <td
        class="t-c n-b"
        colspan="3"
        style="background-color: yellowgreen; color: white"
      >
        Normal
      </td>
      <td
        colspan="2"
        class="t-c n-b"
        style="background-color: steelblue; color: white"
      >
        Good
      </td>
    </tr>
    </table>
</div>
